:root {
    --font-primary: "Comic Sans MS", cursive !important;
    --font-display: "Comic Sans MS", cursive !important;
    --font-headline: "Comic Sans MS", cursive !important;
    --font-code: "Comic Sans MS", cursive !important;
}